<section class="samples-section">
  <div class="samples-grid">
    <div class="sample-card" style="--arc-y: 70px;">
      <img src="assets/images/Featured%20Work/12.png" alt="" />
    </div>
    <div class="sample-card" style="--arc-y: 35px;">
      <img src="assets/images/Featured%20Work/13.png" alt="" />
    </div>
    <div class="sample-card sample-card-center" style="--arc-y: 0px;">
      <img src="assets/images/Featured%20Work/2.png" alt="" />
    </div>
    <div class="sample-card" style="--arc-y: 35px;">
      <img src="assets/images/Featured%20Work/14.png" alt="" />
    </div>
    <div class="sample-card" style="--arc-y: 70px;">
      <img src="assets/images/Featured%20Work/15.png" alt="" />
    </div>
  </div>
</section>
